/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

/* Might change the pixel size in the main body of the CSS */

body {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #000000;
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 32px;
  color: #000000;
  text-align: center;
  border-bottom: 4px solid #111;
}
h7 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 32px;
  text-align: right;
  
}
h3 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 32px;
  text-align: center;
  border-bottom: 4px dashed #111;
}

p{
  font-family: 'Inconsolata', monospace;
 margin: auto;
  padding: inherit;
  text-align: left;
columns: 4;
column-rule: 40px;
column-rule-color: #000000;
column-width: 15px;
  display:inline-block;
float: none; width: 85%;
border-bottom: 4px dotted #111;
border-left: 4px solid #000000;
border-right: 4px solid #000000;
column-rule: 4px dotted #000000;
}

header{
  color:						#000000;
  display:					block;
  column-span: all;
  margin:						0 0 2% 0;	
  columns: flex;
}

footer {			
  color:						#041056;
  font-family: 'Allerta Stencil', sans-serif;
  font-size:					1em;	
  line-height:				1.438em;
  column-span:				all;
  display:					block;
  margin:						0;
  padding:					0;
  position:					relative;
  text-align:					center;
  border-bottom: 4px solid #111;
  border-top: 4px solid #111;
}
picture {
  float: right;
}
nav {
  height: 100px;
  background-color: #000000;
  float: center;
  min-width: 800px;
  margin: auto;
  padding: .1em;
  -moz-float-edge: 34;
}
/* Dosen't collapse properly, does it? */
/* Viewed The Guardian news paper site for inspiration */


ul {
  float: none; width: 100%;
  text-align: center; 
  display: inline-block;
}

ul li {
  padding: 10%;
  list-style: none;
  display: inline-block;
  position: right;
  line-height: 100px; 
  padding: 1em;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Allerta Stencil', sans-serif;
  color: #ffffff;
  padding: 0 20px;
}

ul li a:hover {
  color: #808080;
}
